@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  :root{
      --azul-marinho: #38506C;
      --azul-claro: #3FC1C9; 
  }
  .container{
      padding-top: 70px;
  }
  .container-fluid {
      padding: 0;
  }
  .row {
      margin: 0;
  }
  /* Nav Menu */
  .navbar{
     background-color: #F0F0F0 !important;
  }
  .navbar-brand img{
      margin-left: 1rem;
      height: 4.5rem;
  }
  .a-drop:hover{
      text-decoration: none;
      color: var(--azul-marinho); 
  }
  
  /* Banner */
  .main{
      background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%), url(../img/banner1.png) no-repeat center;
      width: 100%;
      background-size: cover;
      height: 100vh;
  }
  .main .row{
      position: absolute;
      left: 5%;
      top: 40%;
  }