.container {
  height: 100vh;

  display: flex;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  place-content: center;

  width: 100%;
  max-width: 700px;
}

.content form {
  margin: 80px 0;
  width: 340px;
  text-align: center;
}

.content h1 {
  margin-bottom: 24px;
}

.content input {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 16px;
  width: 100%;
  color: #474747;
}

.content label {
  margin-top: 8px;
}

.label-input {
  background: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}

.label-input img {
  height: 18px;
  width: 18px;
}

.content button {
  background: #fc5bb3;
  height: 56px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  width: 100%;
  color: #ffffff;
  font-weight: 500px;
  margin-top: 16px;
  transition: background-color 0.2s;
}

.content button:hover {
  background: #ca498f;
}

.content form a {
  color: #474747;
  display: block;
  margin-top: 24px;
  text-decoration: none;
  transition: color 0.2s;
}

.content form a:hover {
  color: #919191;
}

.content > a {
  color: #fc5bb3;
  margin-top: 24px;
  text-decoration: none;
  transition: color 0.2s;

  display: flex;
  align-items: center;
}

.content > a:hover {
  color: #ca498f;
}

.content > a img {
  margin-right: 16px;
}

.background {
  flex: 1;
  background: url("../../assets/signUpBackgroundImg.jpg") no-repeat center;
  background-size: cover;
}

.logo {
  width: 300px;
  height: 200px;
}

.login-arrow {
  height: 16px;
  width: 16px;
}
