@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lexend:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
button {
  font-family: "Inter", sans-serif;
}

p,
ul,
input {
  font-family: "Lexend", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5e5e5;
}

.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #38506c;
  width: 40%;
  height: 100%;
  border-radius: 15px 0 0 15px;

  left: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #32ba7c;
}

.title-secondary {
  color: #3fc1c9;
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

.description-primary {
  color: #fff;
}

.description-secondary {
  color: #7f8c8d;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  margin-top: 1rem;
  cursor: pointer;
  width: 180px;
  align-self: center;
  border: none;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fc5bb3;
  transition: background-color 0.6s;
}

.btn-primary:hover {
  background-color: #fc5bb3;
  color: #38506c;
}

.btn-secondary {
  background-color: #38506c;
  border: 1px solid #38506c;
  transition: background-color 0.6s;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #38506c;
}

.first-content {
  display: flex;
}

.first-content .second-column {
  z-index: 11;
}

.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.second-column {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin: 1rem 0;
}

.link-icon:not(:first-child) {
  margin-left: 10px;
}

.link-icon .item-icon {
  transition: background-color 0.6s;
}

.link-icon:hover .item-icon {
  background-color: #38506c;
  color: #fff;
  border: #38506c;
}

.list-icons {
  display: flex;
  list-style-type: none;
}

.item-icon {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #bdc3c7;
}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}

.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 8px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}

.icon-modifier {
  padding: 5px;
}

/*second content*/

.second-content {
  display: flex;
  position: absolute;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}

.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password {
  color: #38506c;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  margin: 15px 0;
  text-align: center;
}

.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: leftDisplacement 1.3s;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}

.sign-in-js .second-content .first-column {
  animation: fadein 1.3s;
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-radius: 0 15px 15px 0;
  animation: slidein 1.3s;

  z-index: 12;
}

.sign-up-js .second-content .first-column {
  z-index: -1;
}

.sign-up-js .second-content .second-column {
  z-index: -1;
  position: relative;
  animation: rightDisplacement 1.3s;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  animation: fadein 1.3s;
  z-index: 14;
}

.sign-up-js .content::before {
  animation: slideout 1.3s;
  z-index: 12;
}

/* Animação css */

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}

@keyframes fadein {
  from {
    z-index: -1;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  to {
    opacity: 1;
    z-index: 14;
  }
}

@keyframes leftDisplacement {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: 0.5;
  }

  50% {
    left: -110px;
    opacity: 0.2;
  }

  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes rightDisplacement {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: 80px;
    opacity: 0.5;
  }

  50% {
    left: 100px;
    opacity: 0.2;
  }

  to {
    left: 110px;
    opacity: 0;
    z-index: -1;
  }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
  .content {
    width: 100%;
    height: 100%;
  }

  .content::before {
    width: 100%;
    height: 40%;
    top: 0;
    border-radius: 0;
  }
  .first-content,
  .second-content {
    flex-direction: column;
    justify-content: space-around;
  }

  .first-column,
  .second-column {
    width: 100%;
  }

  .sign-in-js .content::before {
    top: 60%;
    left: 0;
    border-radius: 0;
  }

  .form {
    width: 90%;
  }

  /* ANIMAÇÃO MOBILE CSS*/

  @keyframes deslocamentoEsq {
    from {
      top: 0;
      opacity: 1;
      z-index: 12;
    }

    25% {
      top: -80px;
      opacity: 0.5;
    }

    50% {
      top: -100px;
      opacity: 0.2;
    }

    to {
      top: -110px;
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes deslocamentoDir {
    from {
      top: 0;
      z-index: 12;
    }

    25% {
      top: 80px;
    }

    50% {
      top: 100px;
    }

    to {
      top: 110px;
      z-index: -1;
    }
  }

  @keyframes slidein {
    from {
      top: 0;
      height: 40%;
    }

    25% {
      top: 5%;
      height: 50%;
    }

    50% {
      top: 25%;
      height: 60%;
    }

    75% {
      top: 45%;
      height: 50%;
    }

    to {
      top: 60%;
      height: 40%;
    }
  }

  @keyframes slideout {
    from {
      top: 60%;
      height: 40%;
    }

    25% {
      top: 45%;
      height: 50%;
    }

    50% {
      top: 25%;
      height: 60%;
    }

    75% {
      top: 5%;
      height: 50%;
    }

    to {
      top: 0;
      height: 40%;
    }
  }
}

@media screen and (max-width: 740px) {
  .form {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .form {
    width: 100%;
  }
}
